@font-face {
  font-family: "Integral-CF";
  src: url("integralcf-bold.otf") format("opentype");
}

.headline {
  font-family: "Integral-CF", sans-serif;
  font-size: 64px;
}

.nav {
	height: 60px !important;
}

.nav a {
	text-decoration: none !important;
	font-weight: normal;
	margin: 0px 10px;
	padding: 3px;
}

.nav a:not(.disabled) {
	color: black !important;
}

.disabled {
	pointer-events: none;
	color: gray !important;
}

.view-height {
	position: relative;
	height: calc(100vh - 60px);
}

.header>*:not(img) {
	width: 50%;
	padding-top: 50px;
	padding-left: 75px;
	z-index: 2 !important;
}

.view-height img {
	position: absolute;
	bottom: 0;
	right: 60px;
	height: inherit;
	padding-top: 35px;
	z-index: 0;
}

.header {
	background: #f2f0f1;
}

.brands>.logo {
	filter: invert(1) !important;
	--webkit-filter: invert(1) !important;
	height: 50px !important;
	width: auto !important;
	margin: 20px 0px;
}

.grid {
	display: grid;
	width: inherit;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: 1fr;
	column-gap: 15px;
	row-gap: 25px;
}

.card-img-container p {
	position: absolute;
}