p[style="color: green"]
  = notice
- content_for :title, "Products"
.d-flex.flex-row.justify-content-between.align-items-center.mb-4
  h2.m-0
    | Featured
  div
    = link_to "Add Product", new_product_path, class: "btn btn-success"
.grid
  - @featured_products.each do |product|
    .card.d-flex.flex-column
      .card-img-container
        = content_tag :p, "#{"Featured!" if product.is_featured}", class: "my-2 text-white bg-success py-0 px-1 text-small"
        = image_tag product.image_url, alt: product.name, class: "card-img-top"
      .mx-2.mt-1.mb-2
        = content_tag :p, product.name, class: "m-0 h5"
        = content_tag :p, "Php#{product.price}", class: "m-0"
        = content_tag :p, product.desc, class: "m-0 pb-2 text-truncate"
        .d-flex.flex-row.justify-content-between.align-items-center
          = link_to "View Product", product, class: "btn btn-info"
          button.btn.btn-primary[type="button"]
            | Add to Cart
h2.my-3.mb-4 data-controller="hello"
  | Store
.grid
  - @unfeatured_products.each do |product|
    .card.d-flex.flex-column
      .card-img-container
        = content_tag :p, "#{"Featured!" if product.is_featured}", class: "my-2 text-white bg-success py-0 px-1 text-small"
        = image_tag product.image_url, alt: product.name, class: "card-img-top"
      .mx-2.mt-1.mb-2
        = content_tag :p, product.name, class: "m-0 h5"
        = content_tag :p, "Php#{product.price}", class: "m-0"
        = content_tag :p, product.desc, class: "m-0 pb-2 text-truncate"
        .d-flex.flex-row.justify-content-between.align-items-center
          = link_to "View Product", product, class: "btn btn-info"
          button.btn.btn-primary[type="button"]
            | Add to Cart
